<div class="center jumbotron">
  <h1>About Us</h1>
  <h4><p>EasyPost was founded in 2012 as the first RESTful API for shipping. EasyPost has thousands of customers shipping millions of packages each month. Our customers range in size from public companies to SMBs.

We're on a mission to remove the technical complexities of logistics so customers can get back to growing their businesses. We've already saved our customers tens of thousands of hours of development, and we're just getting started.
</p>
 </h4>
</div
