<script type="text/javascript">
function submitForm(){
   const Easypost = require('@easypost/api');
   const api = new Easypost('<YOUR_TEST/3RIbYwbdP4FpQ9Kqcg83xw>');

   const fromAddress = new api.Address({
     company: 'EasyPost',
     street1: '417 Montgomery Street',
     street2: '5th Floor',
     city: 'San Francisco',
     state: 'CA',
     zip: '94104',
     phone: '415-528-7555'
   });

   fromAddress.save().then(console.log);

   alert("from address company" + fromAddress.company);
}
</script>
<form>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Name</span>
  <input type="text" class="form-control" placeholder="Full Name" aria-describedby="basic-addon1">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon2">Company</span>
  <input type="text" class="form-control" placeholder="Company" aria-describedby="basic-addon2">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">Address</span>
  <input type="text" class="form-control" placeholder="Street Address" aria-describedby="basic-addon3">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon4">City</span>
  <input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon4">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon5">State</span>
  <input type="text" class="form-control" placeholder="State" aria-describedby="basic-addon5">
</div>

<div class="input-group">
  <span class="input-group-addon" id="basic-addon6">Zip</span>
  <input type="text" class="form-control" placeholder="Zip" aria-describedby="basic-addon6">
</div>

<button type="submit" class="btn btn-default", onclick="submitForm()">Submit</button>
</form>
