<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href=#>Copyright</a>
    </small>
    <nav>
      <ul>
        <li>About<li>
        </ul>
    </nav>
  </footer>
</div>
